@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Philosopher:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root{

/* Font Family */
  --ff_philosopher:'Philosopher';
  --ff_montserrat:'Montserrat';

  /* Font Size */
  --fs_xxsm: 12px;
  --fs_xsm: 14px;
  --fs_sm: 16px;
  --fs_md: 20px;
  --fs_lg: 24px;
  --fs_xl: 32px;
  --fs_xxl: 35px;
  --fs_4xl: 48px;
  --fs_8xl: 80px;

   /* Font Weight */
   --fw_extraBold: 800;
   --fw_semiBold: 600;

  /* Background Colors  */
  --bg_primary_linear: linear-gradient(126.14deg, #AA1FFE 3.66%, #DD22E6 95.92%);
  --bg_primary:#A020F0;
  --bg_secondary:#2F015B;

  /* Text Colors   */
  --color_text:#e8e3edd5;
}

/* Font Family */
.ff_philosopher{
  font-family: var(--ff_philosopher);
}
.ff_montserrat{
  font-family: var(--ff_montserrat);
}
/* Font Size */
.fs_xxsm{
  font-size: var(--fs_xxsm);
}
.fs_xsm{
  font-size: var(--fs_xsm);
}
.fs_sm{
  font-size: var(--fs_sm);
}
.fs_md{
  font-size: var(--fs_md);
}
.fs_lg{
  font-size: var(--fs_lg);
}
.fs_xl{
  font-size: var(--fs_xl);
}
.fs_xxl{
  font-size: var(--fs_xxl);
}
.fs_4xl{
  font-size: var(--fs_4xl);
}
.fs_8xl{
  font-size: var(--fs_8xl);
}
   /* Font Weight */
.fw_extrabold{
  font-weight: var(--fw_extraBold);
}
.fw_semibold{
  font-weight: var(--fw_semiBold);
}

  /* Background Colors  */
.bg_linear{
  background: var(--bg_primary_linear);
}
.bg_primary{
  background: var(--bg_primary);
}
.bg_secondary{
  background: var(--bg_secondary);
}
.translatex{
  transform: translateX(40%);
}
 /* Text Colors   */
.color_primary{
  color: var(--bg_primary_linear);
}
.color_text{
  color: var(--color_text);
}

.color_primary_linear{  
  background: var(--bg_primary_linear);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
.SearchBar{
  background-color: #212121;
  border-radius: 20px;
  border: 1px solid #565656;
}
.icon_size_24{
  height: 24px;
  width: 24px;
}
.body_bg_dark{
  background-color: #07031D;
}
.input_field{
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  margin: auto;
}
.lh_106{
  line-height: 106%;
}
.lh_156{
  line-height: 156%;
}
.bg_image{
  background-image: url("./Assets/images/png/HeroBackground_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about_Background{
  background-image: url("./Assets/images/png/AboutBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.z_index_1{
  z-index: 1;
}
.z_index_2{
  z-index: 2;
}
.z_index_n1{
  z-index: -1;
}
.Smoke{
  position: absolute;
  top: 7%  ;
  right: 36%;
}
.bg_blure{
  background-color: #160f2f50;
  backdrop-filter: blur(18px);
  border-radius: 10px;
  
}
.side_border{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 4px;
  background-color: #BA20F7;
}
.Grid{
  display: grid;
  column-gap: 12px;
  row-gap: 12px;
}
.grid_items1{
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  margin-top: 12px;
 
}
.grid_items2{
  grid-column: 3/4;
  grid-row: 1/3;
  width: 100%;
  
}
.grid_items3{
  grid-column: 1/3;
  grid-row: 2/5;
  width: 100%;
  
}
.grid_items4{
  grid-column: 3/4;
  grid-row: 3/6;
  width: 100%;
  
}
.grid_items5{
  grid-column: 2/3;
  grid-row: 5/6;
  width: 100%;
  
}
.bottom_line{
  position: relative;
  
}
.bottom_line:after{
  content: "";
  border-radius: 5px;
  bottom: -20%;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--bg_primary_linear);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  
  color: white ;
}
.bottom_line:hover::after{
  width: 100%;
  left: 0%;
}
.text{
  transition: 0.2s linear;
}
.text:hover{
  -webkit-text-stroke: 1px white;
}
.bg_hover{
   transition:0.3s linear
}
.bg_hover:hover{
  box-shadow: 0px 2px 10px var(--bg_primary);
 }
.view_menu{
  opacity: 1;
  transition: 0.2s linear;
}
.disable_menu{
  opacity: 0;
  transition: 0.2s linear;
  pointer-events: none;
}
.linear_color{
  background: linear-gradient(0deg, #07031d 37.24%, rgba(7, 3, 29, 0.01) 88.23%);
transform: matrix(1, 0, 0, -1, 0, 0);
  height: 200px;
}
.Cart{
   transition: 0.4s ease-in-out all !important;
}
.Cart:hover{
  /* transition: 0.2s ease-in-out; */
  transform: translateY(-25%);
}

.bgBlure{
  background-color: #160f2f50;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid #411A68;
  
}
.circle{
  height: 16px;
  width: 16px;
  border-radius: 24px;
  background: var(--bg_primary_linear);
}
.list_style{
  list-style: disc;

  margin-top: 16px;
  margin-bottom: 16px;
}

.flower_position{
  top: 47%;
  right: 12%;
}

.mailOrder_background{
  background: url("./Assets/images/png/MailOrders.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.numberPosition{
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.text_opacity{
  opacity: 70%;
}
.Alert_background{
  background: url("./Assets/images/png/SpaceBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Classification_background{
  background: url("./Assets/images/png/Classification.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Popular_Items_background{
  background: url("./Assets/images/png/PopulrItemsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Blog_background{
  background: url("./Assets/images/png/Blogs.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Details_background{
  background: url("./Assets/images/png/Details.png  ");
  background-repeat: no-repeat;
  background-size: cover;
}
.border_purple{
  border: 1px solid #411A68;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.border_bottom{
  border-bottom:  1px solid #DD22E6;
  /* width: 50%; */
  /* margin: auto; */
}
.Footer_background{
  background: url("./Assets/images/png/Footer.png  ");
  background-repeat: no-repeat;
  background-size: cover;
}
.Contact_background{
  background: url("./Assets/images/png/Contact.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.smoke_image{
  position: absolute;
  left: 3%;
  z-index: 1;
  top: 10%;
  width: 35%;
  border-radius: 0px 0px 0px 380px;
}
.spacebtn{
transform: translate(-50% , -100%);
bottom: -10%;
}
.line:after{
  position: absolute;
  content: "";
  left: 0%;
  height: 90%;
  width: 4px ;
  background:#BA20F7;
  top: 50%;
  transform: translateY(-50%);
}
.nav_link{
  color: white;
  text-decoration: none;
}
.gradient{
  position: relative;

}
.gradient::after{
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  background: var(--bg_primary_linear);
  right: 10%;
  bottom: 10%;
  z-index: -1;
  filter: blur(150px);
  transform: translate(-50% , -50%);
  opacity: 0;
  transition: 0.2s linear;
}
.gradient:hover::after{
  opacity: 1;
  transition: 0.2s linear;

}
.gradient_2{
  position: relative;

}
.gradient_2::after{
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  background: var(--bg_primary_linear);
  left: 0%;
  bottom: 0%;
  /* z-index: -1; */
  filter: blur(150px);
  transform: translate(100% , -50%);
  opacity: 0;
  transition: 0.2s linear;
}
.gradient_2:hover::after{
  opacity: 1;
  transition: 0.2s linear;

}
.icon_hover{
  transition: 0.2s;
}
.icon_hover:hover{
  transform: scale(1.1);
}
/* .light_effect{
  position: relative;
 
} */
/* .light_effect::after{
position: absolute;
content: "";
height: 0%;
width: 0%;
background-color: rgba(255, 255, 255, 0.007);
bottom: 0;
left: 0;
z-index: 1;
transition: 0.2s linear;
border-radius: 24px;

} */


/* .light_effect:hover::after{
  width: 100%;
  height: 100%;
 overflow: hidden;
} */

.bounce_effect{
  transition: 0.2s linear;

}
.bounce_effect:hover{
transition: 0.2s linear;
transform: translate(0% , -3%);
}
.gradient_circle{
  position: relative;
}
.gradient_circle::after{
  position: absolute;
  content: "";
  bottom: 20%;
  left: 50%;
  background: var(--bg_primary_linear);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transform: translate(-50% , -50%);
  filter: blur(150px);
  
}
  
.bounce_effect_2{
  transition: 0.2s linear;

}
.bounce_effect_2:hover{
transition: 0.2s linear;
transform: translate(0% , -10%);
}
.border_effect{
   transition: 0.2s linear;
}
.border_effect:hover{
   transition: 0.2s linear;
   border: 1px solid #a40ce0 !important;
}
.rotate_image{
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.border_effect{
     transition: 0.2s linear;
}
.border_effect:hover{
  transition: 0.2s linear;
  border: 1px solid #a40ce0;
} 
.gradient_glow_left{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0%;
  transform: translate(-50% , 50%);
  z-index: 2;
  height: 210px;
  width: 210px;
  background: #9F00FF;
  border-radius: 200px;
  filter: blur(200px);
   animation: blink 5s 1.2s infinite linear alternate;
}
.gradient_glow_right{
  position: absolute;
  content: "";
  right: 0;
  top: 0%;
  transform: translate(50% , 0%);
  z-index: 1;
  height: 210px;
  width: 210px;
  background: #9F00FF;
  border-radius: 200px;
  filter: blur(200px);
   animation: blink 5s 1.2s infinite linear alternate;
}
@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  33.33333% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
.go-top-text {
	display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background:  var(--bg_primary_linear); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  border-radius: 50px;
}



/* Media Queries */
/* 
@media (min-width:576px ) {
.smoke_image{
  position: absolute;
  left: 3%;
  z-index: 1;
  top: 9%;
  height: 200px;
  width: 200px;
  border-radius: 0px 0px 0px 380px;
}
}

@media (min-width:768px ) {
.smoke_image{
  position: absolute;
  left: 4%;
  z-index: 1;
  top: 13%;
  height: 240px;
  width: 240px;
  border-radius: 0px 0px 0px 380px;
}
}
@media (min-width:992px ) {
.smoke_image{
  position: absolute;
  left: -8%;
  z-index: 1;
  top: -6%;
  height: 240px;
  width: 240px;
  border-radius: 0px 0px 0px 380px;
}
  .translate_middle{
  transform: translatey(-48% );
}
}
} */
@media (min-width:1200px) {
.smoke_image{
  position: absolute;
  left: -3%  ;
  z-index: 2;
  top: 2%   ;
  height: 240px;
  width: 240px;
  border-radius: 0px 0px 0px 380px;
}
  .translate_middle{
    position: absolute;
  transform: translatey(-55% );
  right: 0;
}
.min_height{
min-height: 100vh;
}}
/* @media (min-width:1400px) {
.smoke_image{
  position: absolute;
  left: 3%;
  z-index: 1;
  top: 9%;
  height: 240px;
  width: 240px;
  border-radius: 0px 0px 0px 380px;
}
.translate_middle{
  transform: translatey(-58% );
} */

  

